@import './custom-variables.css';

/*** GREEN ***/

.bg-at-green {
  background-color: var(--at-green);
}

.text-at-green {
  color: var(--at-green);
}

/*** LIGHT GREEN ***/
.bg-at-lightgreen {
  background-color: var(--at-light-green);
}

.text-at-lightgreen {
  color: var(--at-light-green);
}

.text-hover-success:hover {
  color: var(--at-green);
  cursor: pointer;
}

.nav-icons {
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease, opacity 0.3s ease;
  /* Combinar las transiciones */
}

.nav-icons:hover {
  cursor: pointer;
  border-bottom: 2px solid gray;
  opacity: 0.8;
}

.nav-icons-div {
  position: relative;
}

.categorias-trigger {
  display: none;
}

.collapsed-categories {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
  z-index: 1000;
}

.collapsed-categories:hover {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.1s;
}

.categorias-trigger:hover+.collapsed-categories {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.1s;
}

.allCategories {
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s ease;
}

.allCategories:hover {
  cursor: pointer;
  border-bottom: 1px solid black;
}

.home-content {
  padding-top: 200px;
}

.product {
  transition: transform 0.3s ease-in-out;
}

.product:hover {
  transform: scale(1.02);
}